@import url('https://fonts.googleapis.com/css?family=Oswald');

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: [viewport] 480px [toolbar] auto;
}

.App .viewport {
  grid-column: viewport;
  overflow: scroll;
}

.App .toolbar {
  grid-column: toolbar;
  display: flex;
  flex-direction: column;
}

/*
This describes how the Tool element of Toolbar is going to look like
*/
.toolbar .tool {
  width: 100%;
  flex-basis: 100% auto;
  margin: 5px 5px;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid rgb(68, 44, 0);
  display: flex;
  align-items: justify-content;
  justify-content: space-between;
}

.toolbar .tool.column {
  flex-direction: column;
}

.tool .label {
  flex-basis: 50%;
  display: inline-block;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 0;
  width: 480px;
  height: 360px;
  border: 1px dotted red;
  pointer-events: none;
}

.marqueeStrip {
  position: relative;
  width: 480px;
  top: calc(100% - 2em);
  opacity: 0.7;
  overflow: hidden;
  background: white;
  color: navy;
  font-family: Oswald;
  font-size: 32px;
}
.marqueeStrip .content {
  transform: translateX(100%);
  display: block;
  animation: demo1 4s ease-out infinite;
  text-transform: uppercase;
}

.nomad {
  position: relative;
  animation: moveAround 4s linear infinite;
  width: 10px;
  height: 10px;
  background-color: crimson;
}

@keyframes demo1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes moveAround {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: calc(100% - 10px);
    left: 0;
  }
  50% {
    top: calc(100% - 10px);
    left: calc(100% - 10px);
  }
  75% {
    top: 0;
    left: calc(100% - 10px);
  }
  100% {
    top: 0;
    left: 0;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
